.paragraphStyle{
  width: 100%;
  max-width: 88%;
  color: #4B5563;
  font-family: 'Arial, sans-serif';
  text-align: start;
}

.footerContainerPhn{
  background-color: #282C31;
}

@media(max-width:768px){
  .paragraphStyle{
    max-width: 100%;
  }
  .adidasClothes{
    font-size: 21px;
  }
}